@media screen and (min-width: 500px) { 
    header {
        background-color: black;
        color: white;
    }
    /* This means when it is big they will put both sections next to each other */
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}