caption {
    caption-side: bottom;
}

table {
    width: 25%;
    border-collapse: collapse;
    border: 1px solid black;

}

th {
    background-color: black;
    color: aliceblue;
    padding: .5rem;
}
td {
    padding: .5rem;
    text-align: center;
    border: 1px solid black;
}

thead tr:nth-child(2) th {
    background-color: gray;
}
thead tr:nth-child(2) th:first-child {
    background-color: black;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}
