body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
#taskbar {
    background-color: #C0C0C0; /* Taskbar color */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px; /* Height of the taskbar */
    padding: 0 10px;
    position: fixed;
    top: 0; /* Position the taskbar at the top */
    width: 100%; /* Full width of the screen */
    z-index: 1000; /* Ensure it's above other elements */
}

#start-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #000000; */
}

#start-menu img {
    height: 20px; /* Adjust the height of the start menu icon */
    margin-right: 5px;
}

#start-menu p {
    margin: 0;
    font-weight: bold;
    color: #fff;
    font-size: 14px; /* Adjust the font size of the start menu text */
    text-align: center;
    line-height: 30px; /* Center vertically */
    padding-right: .5rem;
}

#desktop {
    /* background: linear-gradient(to top, #008080, #800080); */
    /* background-image: url(../images/b5.png); */
    /* background: linear-gradient(to right, #FE00FF, #0AF9FE); */
    /* background: #0AF9FE; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 0px); /* Adjusted height to accommodate taskbar */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Align windows to the top */
    position: relative;
}



.window {
    background-color: #C0C0C0; /* Window background color */
    padding: 10px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888888;
    width: 200px;
    text-align: center;
    position: absolute;
    cursor: grab;
}

/* .window-header {
    background-color: #808080;
    padding: 5px;
    border-bottom: 2px solid #000;
    border-radius: 5px 5px 0 0;
} */

.window-header {
    background: linear-gradient(to right, #FE00FF, #0AF9FE);
    padding: 5px;
    border-bottom: 2px solid #000;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
}

.fullscreen-btn{
    margin-left: auto;
    
    /* padding-bottom: 1rem; */
}
.close-btn {
    margin-left: .2rem;
}

.fullscreen-btn {
    cursor: pointer;
}


.close-btn {
    float: right;
    cursor: pointer;
}

.window p {
    margin: 0;
    font-weight: bold;
}

/* Adjust styles for hover effect if desired */
.window:hover {
    background-color: #D3D3D3; /* Lighter color on hover */
}

/* Optional: Add more specific styling for each window/folder */
#folder1 {
    /* Add specific styles for Folder 1 */
    top: 100px;
    left: 100px;
}

#folder2 {
    /* Add specific styles for Folder 2 */
    top: 150px;
    left: 150px;
}

#popup1 {
    /* Add specific styles for Popup 1 */
    top: 200px;
    left: 200px;
}

#popup2 {
    /* Add specific styles for Popup 2 */
    top: 250px;
    left: 250px;
}


.taskbar-window {
    cursor: pointer;
    padding: 0 .5rem;
    /* border: 1px solid #000000; */
    /* padding-left: 1rem; */
    color: #fff;
}

.taskbar-window:hover {
    background-color: #800080; /* Darker color on hover */
    border: 1px solid #000000;
    /* border: #000; */
}
.resizable {
    resize: both;
    overflow: auto;
    min-width: 200px;
    min-height: 100px;
}
.dark-mode-switch {
    margin-right: 100px; 
}

.dark-mode-switch label {
    color: #ffffff; 
}
.dark-mode {
    background: linear-gradient(to right, #FE00FF, #FE00FF);
    color: #ffffff;
}

/* picture img {
    width: 85%;
    max-width: 85%; 
    height: auto;
  
  } */
